.action-section{
    display: flex;
    & .action-btn{
        height: 20px;
        width: 20px;
        margin-left: 10px;
    }

    & .action-btn:hover{
        opacity: 0.8;
        cursor: pointer;
    }

    & .action-btn.disabled{
        pointer-events: none;
        opacity: 0.6;
    }
}