<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First name</th>
        <th scope="col">Middle name</th>
        <th scope="col">Last name</th>
        <th scope="col">email</th>
        <th scope="col">phone number</th>
        <th scope="col">role</th>
        <th scope="col">address</th>
        <th scope="col">created on</th>
        <th scope="col">modified on</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <ng-template [ngIf]="!user.isEdit" [ngIfElse]="editMode">
          <td>
            {{ user.firstName }}
          </td>
          <td>{{ user.middleName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>{{ role[user.role] }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.createdOn }}</td>
          <td>{{ user.updatedOn }}</td>
          <td>
            <div class="action-section">
              <fa-icon class="action-btn" title="Edit" [icon]="faEdit" (click)="onEdit(user)"></fa-icon>
              <fa-icon class="action-btn" title="Delete" [icon]="faTrashAlt" (click)="onDelete(user)"></fa-icon>
            </div>
          </td>
        </ng-template>

        <ng-template #editMode>
          <td>
            <input type="text" class="form-control" [ngClass]="{'is-invalid':(userErrorMsg[user.id] && !userErrorMsg[user.id]?.isValid && userErrorMsg[user.id]?.firstName)}" (keyup)="validateInput(editUserData[user.id])" [(ngModel)]="editUserData[user.id].firstName" required/>
            <div *ngIf="(userErrorMsg[user.id] && !userErrorMsg[user.id]?.isValid && userErrorMsg[user.id]?.firstName)"  class="invalid-feedback">
                {{userErrorMsg[user.id]?.firstName}}
            </div>
        </td>
          <td>
            <input type="text" class="form-control" placeholder="Middle Name" [(ngModel)]="editUserData[user.id].middleName" />
          </td>
          <td>
            <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="editUserData[user.id].lastName" />
          </td>
          <td>
            <input type="text" class="form-control"  [ngClass]="{'is-invalid':(userErrorMsg[user.id] && !userErrorMsg[user.id]?.isValid && userErrorMsg[user.id]?.email)}" (keyup)="validateInput(editUserData[user.id])" [(ngModel)]="editUserData[user.id].email" required/>
            <div *ngIf="(userErrorMsg[user.id] && !userErrorMsg[user.id]?.isValid && userErrorMsg[user.id]?.email)"  class="invalid-feedback">
                {{userErrorMsg[user.id]?.email}}
            </div>
            </td>
          <td>
            <input type="text" class="form-control" placeholder="Phone Number" [(ngModel)]="editUserData[user.id].phoneNumber" />
          </td>
          <td>
            <select class="form-control" [(ngModel)]="editUserData[user.id].role" [ngClass]="{'is-invalid':(userErrorMsg[user.id] && !userErrorMsg[user.id]?.isValid && userErrorMsg[user.id]?.role)}" (ngModelChange)="validateInput(editUserData[user.id])">
              <option value="" disabled>Select role</option>
              <option *ngFor="let item of role | enumToArray" [value]="item.key">{{item.value}}</option>
            </select>
            <div *ngIf="(userErrorMsg[user.id] && !userErrorMsg[user.id]?.isValid && userErrorMsg[user.id]?.role)"  class="invalid-feedback">
                {{userErrorMsg[user.id]?.role}}
            </div>
        </td>
          <td>
            <input type="text" class="form-control" placeholder="" [(ngModel)]="editUserData[user.id].address" />
          </td>
          <td>{{ editUserData[user.id].createdOn }}</td>
          <td>{{ editUserData[user.id].updatedOn }}</td>
          <td>
            <div class="action-section">
              <fa-icon class="action-btn" title="save" [icon]="faSave" (click)="onSave(user)" [ngClass]="{'disabled':(userErrorMsg[user.id] && !userErrorMsg[user.id]?.isValid)}"></fa-icon>
              <fa-icon class="action-btn" title="cancel" [icon]="faTimes" (click)="onCancelEdit(user)"></fa-icon>
            </div>
          </td>
        </ng-template>

      </tr>
    </tbody>
  </table>

</div>
